<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="head-logo">
        <h1><%= link_to "TweetApp", root_path %></h1>
      </div>
      <div class="head-lists">
        <ul class="lists">
          <% if user_signed_in? %>
            <li class="list"><%= link_to current_user.nickname, user_path(current_user.id) %>さん</li>
            <li class="list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="list"><%= link_to "新規登録", new_user_registration_path %></li>
            <li class="list"><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
